:root{
    --bg-color: #092241;
    --card-color: #092241;


    //font
    --color-white: #fff;
}

$thick : 3px;
$pad : .5em;
$extra : calc(#{$pad} * 1.2);
$color : #f26522;
$color-black: #000;
$color-blue-light: #0e396e